<div class="thumbnail">
    <div class="caption">
        <img src="Globo_logo.png">
        <br>
        <h3>{{ this.title }}</h3>       
        <br>
        <p class="bg-info"> Author: {{ this.author}}</p>
        <br>
        <p class="description">Lorem ipsum dolor sit amet, has vide homero nominavi no, id pri autem euismod similique, sit dico dolor ne. Est te persecuti expetendis, tacimates signiferumque at vim. Ea quas insolens urbanitas vis, et agam eros splendide qui. In dissentiunt interpretaris nec, sit ex postea praesent, vix et amet conclusionemque. An reque verear labitur sed. Suas inani placerat pro cu, aperiam corpora maluisset cu his,</p>
    </div>
</div>